@media (max-width: 786px){
   *{
    margin: 0;
    padding: 0;
    font-size: 16px;
   }

    .container {
        background-color: red;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .container .principal{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-shrink: 1;
    }

    .principal .description {
        flex-direction: column;
    }

}
