@media (max-width: 880px){
    .move    .container {

      width: 600px;
    }
    .container .descriptions .section2 p {
        font-size: 10pt;
        line-height: 2.2rem;
    }
}

@media (max-width: 610px){

    html{
        font-size: 10px;
    }

    .move{
        justify-content: center;
        align-items: center;
    }

    .move .container{
        top: 50%;
        height: 721px;
        margin: auto;
        width: 315px;
    }

    .container .descriptions{
        flex-grow: 2;
        flex-direction: column;
    }
    .container .descriptions .section2{
        border-bottom-left-radius: 0;
    }
    .container .descriptions .section2 h1{
        font-size: 12.7pt;
        margin-bottom: 10px;
    }   

    .container .descriptions .section2 h2 {
        font-size: 3rem;
    }
    .container .descriptions .section2 .text {
        font-size: 11pt;
    }
    .container .descriptions .section2 p {
        font-size: 12pt;
    }
    .container .descriptions .section2 .btn {
        margin-top: 30px;
    }
    .container .descriptions .section3{
        border-bottom-left-radius: 1rem;
    }
    .container .descriptions .section3 h1 {
        font-size: 15pt;
    }

    .container .descriptions .section3 p {
        font-size: 10pt;
        line-height: 2.2rem;
    }

}
