

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
    width: 100vw;
    height: 100vh;
}

.container .principal{
    background-color:tomato;
    height: 640px;
    width: 850px;

}

