

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
    width: 100vw;
    height: 100vh;
}

.container .principal{
    top: 216px;
    position: absolute;
    background-color:tomato;
    height: 640px;
    /* width: 850px; */
    margin: 10px;
}

.container .principal .header{
    background-color:salmon;
    height: 280px;
    padding: 3.6rem;
}

.container .principal .header h2{
    padding-top: 25px;
    padding-bottom: 12px;
}

.container .principal .header p {
    font-size: 21.3px;
    line-height: 2rem;
}

.container .principal .description {
    position: relative;
    display: flex;
    background-color: aqua;
    height: 56.7%;
}

.container .principal .description .subscription{
    padding: 3.5rem;
    font-size: 1.3rem;
}

.container .principal .description .subscription h1 {
    padding-bottom: 20px;
    font-weight: 700px;
}

.container .principal .description .subscription h2 {
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.container .principal .description .subscription .text{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 21.5px;
}

.container .principal .description .subscription .btn{  
    width: 100%;
    padding: 18px;
    margin-top: 45px;
    border-radius: .4rem;
    font-size: 20px;
    font-weight: 700;
}

.container .principal .description .info {
    padding: 3.5rem;
    font-size: 18px;
    text-align:left;
    line-height: 27px;
}

.container .principal .description .info h1 {
    margin-bottom: 20px;
}
.container 
.principal
.subscription,
.info {
    width: 50%;
}


.container .principal .subscription{
    background-color: rgb(250, 136, 250);

}
.container .principal .info{
    background-color: rgb(202, 147, 253);
}
